<div class="log_output">
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="lineno">
          <%= counter = 0
          str = nil
          recipe.body.each_line { |ln| str = "#{str} #{(counter = counter + 1)}<br/>" } unless recipe.body.nil?
          str  %>
        </td>
        <td width="100%">
          <div class="ruby">
            <%= highlight_syntax(recipe.body || '') %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
